.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm
.gradle
.vscode
kotlin-runtime/src/generated/resources/
coverage-data
default.profraw
package-lock.json

*.dll
*.so
*.dylib
*.cjs.node
