.DS_Store
.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm
Package.resolved
.gradle
.vscode
/kotlin-runtime/src/generated/resources/
/coverage-data
default.profraw
package-lock.json
/node-runtime/fishyjoes-runtime-native-windows/Runtime.d.ts
/node-runtime/fishyjoes-runtime-native-windows/Runtime.extensions.js
/node-runtime/fishyjoes-runtime-native-macos/Runtime.d.ts
/node-runtime/fishyjoes-runtime-native-macos/Runtime.extensions.js
/node-runtime/fishyjoes-runtime-native-ubuntu/Runtime.d.ts
/node-runtime/fishyjoes-runtime-native-ubuntu/Runtime.extensions.js
/node-runtime/fishyjoes-runtime-wasm/Runtime.d.ts
/node-runtime/fishyjoes-runtime-wasm/Runtime.extensions.js
/c-sharp-runtime/nupkgs/
/dart-runtime/flutter-package
*.dll
*.so
*.dylib
*.cjs.node
.idea
*.swift.orig
__pycache__/
*.py[cod]
*.egg-info/
