.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/output
node_modules
.swift-version
*.tgz
*.log
/kotlin/src/main/resources/
/c-sharp/generated/lib/
/dart/flutter-package
.gradle
local.properties
Package.resolved
package-lock.json
DebugGenerated
