.DS_Store
.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/output
node_modules
.swift-version
*.tgz
*.log
/kotlin/generated/src/main/resources/
/c-sharp/generated/lib/
/c-sharp/nupkgs/
/dart/generated/flutter-package
.gradle
local.properties
Package.resolved
package-lock.json
DebugGenerated
.idea
*.DotSettings.user

# These will include absolute paths, so not safe to commit. Not a concern in downstream repos that depend on a versioned FishyJoes release
/dart/generated/flutter-package.json
/ts/generated/package.native-macos.json
/ts/generated/package.native-ubuntu.json
/ts/generated/package.native-windows.json